<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Did you know, that you were stupid enough to break my Application?</h1>
        <h3>Shame on you!</h3>
        <h4>Shame on you!</h4>
        <h5>How dare you! Shame on you!</h5>
        <p>Haha no. But seriously this is an<italic>Exception!</italic></p>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Drug" asp-action="Index">Home</a>
    </div>
</div>